.new_article {
  width: 85%;
  height: 85%;
  margin: 30px auto 30px;
  .field {
    width: 100%;
    .img_form {
      width: 100%;
      margin-bottom: 30px;
    }
    .title_form {
      margin-bottom: 20px;
      .title_box {
        width: 100%;
        padding: 5px 0 5px 5px;
        border: none;
      }
    }
    .text_form {
      .text_box {
        width: 100%;
        padding: 5px 0 0 5px;
        border: none;
      }
    }
    .submit_btn {
      margin-top: 30px;
      text-align: center;
      .btn_box {
        width: 100px;
        padding: 7px 0;
        text-align: center;
        background-color: $white;
        border: solid 1px #e6e6e6;
        border-radius: 3px;
        transition: all .15s;
        &:hover {
          border: solid 1px $gray;
        }
      }
    }
  }
}