* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

img {
  vertical-align: bottom;
}

// ******************************  header  ******************************

.header {
  width: 100%;
  padding-bottom: 20px;
  &_inner {
    width: 57%;
    margin: 0 auto;
    letter-spacing: 1px;
    .module {
      position: relative;
      .logo {
        a {
          color: $black;
          font-size: 25px;
        }
      }
      .nav {
        margin-top: 20px;
        position: absolute;
        right: 0;
        display: flex;
        .btn-group {
          margin-right: 20px;
          position: relative;
          .username {
            .username-btn {
              color: $gray;
              font-weight: bold;
              border: none;
              background-color: transparent;
              transition: .15s;
              box-shadow: none;
              &:hover {
                color: $black;
                background-color: transparent;
                box-shadow: none;
              }
            }
          }
          .dropdown-toggle {
            height: 100%;
            color: $gray;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            transition: .15s;
            box-shadow: none;
            &:hover {
              color: $black;
              background-color: transparent;
              box-shadow: none;
            }
            .icon {
              margin-top: 5px;
              margin-right: 5px;
            }
          }
          .dropdown-menu {
            min-width: 100px;
            transition: .15s;
            .dropdown-item {
              a {
                margin-left: 10px;
                color: $gray;
                font-weight: bold;
                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
        .item {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
          .btn {
            padding: 10px 20px;
            color: $white;
            font-weight: bold;
            border: none;
            background-color: $btn-bg-color;
            transition: .15s;
            box-shadow: none;
            &:hover {
              color: $white;
              background-color: $hov-btn-bg-color;
              box-shadow: none;
            }
          }
          .post-btn {
            &:before {
              font-family: "Font Awesome 5 Free";
              content: '\f304';
              color: $white;
              margin-right: 5px;
            }
          }
          .log-in {
            color: $gray;
            background-color: $white;
            border: none;
            box-shadow: none;
            &:hover {
              color: $black;
              background-color: $white;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
  border-top: solid 1px $border-color;
  border-bottom: solid 1px $border-color;
  &_inner {
    width: 57%;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
  }
}

// ******************************  search_form  ******************************

.clearfix {
  content: "";
  clear: both;
  display: block;
}
.search {
  width: 100%;
  margin-top: 30px;
  &_form {
    margin-right: 10px;
    float: right;
    display: block;
    .search_box {
      padding: 5px;
    }
    .search_btn {
      padding: 6px 10px;
      border: solid 1px $gray;
      border-radius: 2px;
      background-color: $white;
      &:hover {
        border: solid 1px $black;
      }
    }
  }
}

// ******************************  wrapper  ******************************

.article {
  width: 57%;
  height: 100%;
  margin: 30px auto 0;
  .post {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: .15s;
    }
    &:hover:after {
      opacity: 0.5;
    }
    .post_img {
      .img {
      }
    }
    .post_title {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      color: $black;
    }
    .post_text {
      margin-top: 7px;
      font-size: 14.5px;
      color: $black;
    }
    .post_user {
      margin-top: 10px;
      color: $gray;
    }
  }
}

// ******************************  footer  ******************************

.footer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
}